.main {
    height: 90%;
    width: 100%;
    background: url("../../assets/images/home-banner2.jpg");
   background-position: center;
    background-size: cover;
}
.main .logoimage {
    text-align: center;
}

.mainPageContaner {
    align-items: center;
    padding-top: 10%;
}

.tagline span {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    display: block;
    text-align: center;
    font-size: 44px;
    text-shadow: 0px 0px 13px #000000;
    color: #f8f9fa
}
.tabLink {
    /*background-color: #07529599;*/
    background-color: #07529599;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 0px;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.removeSpace {
    padding:2px;
}
.inputField {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: .57rem 1.4rem;

}
.inputField:focus {
    border-color: #cabe9f;
    outline: #cabe9f;
}

.divContainer {
    padding:0px 100px;
}
.tabLinkActive {
    background-color: rgb(23, 34, 67) !important;
}
.inputFieldMain i {
    position: relative;
    right: 0;
    top: 43px;
    z-index: 99;
    left: 95%;
    font-size: 18px;
}
.inputFieldMain .inputField {
    position: relative;
}
@media only screen and (max-width: 600px) {
    .main {
        height: 100%;
    }
    .divContainer {
        padding:0px;
    }
}
