.SwissBoulevardPostalColonyMain {
height: 100%;
    margin-top: 100px;
}
.SwissBoulevardPostalColonyMainInner {
    height: 100%;
}

.SwissBoulevardPostalColonyMainInner .banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

}
