.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerMain {
    width: 100%;
    height: 70% !important;
}
@media only screen and (max-width: 600px)  {
    .bannerMain {
        width: 100%;
        height: 100% !important;
    }
}
