.FloorPlanFullSectionMain .btn{
    font-family: 'semplicitaproregular', sans-serif;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #172243;
    letter-spacing: 1px;
    padding: 15px 30px;
    margin-top: 20px;
    width: 100%;
}
