.CommunitiesMain {
    margin:100px 0px;
}

.CommunitiesMain .imageDivWithBg {
    background-color: #f8f8f8;
    padding: 40px;
}


.CommunitiesMain .container .imageDivWithBg h1 {
    font-weight: 500;
    font-size: 28px;
    font-family: 'Fahkwang', sans-serif !important;
    color: #d1a733;
    text-transform: none;
}

.CommunitiesMain .container .imageDiv h1 {
    font-family: 'Fahkwang', sans-serif !important;
    font-weight: 400;
    font-size: 28px;
    text-transform: none;
    color: #d1a733;
   text-align: center;
    margin:20px 0px;

}

.CommunitiesMain .imageContainer {
    padding: 0px 10px;
}
.immageEffect:hover {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition: all 0.5s ease-in-out;
}
.immageEffect {
    -webkit-transform: scale(1,1);
    -webkit-transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.immageEffect h4 {
    font-weight: 700;
    font-size: 20px !important;
    color:white !important;
    text-align: center;
    text-transform: none;
    cursor: pointer;
}
.imageCoontain {
    overflow: hidden;
    margin: 0px 0px;
}



.imageHover img {
    width: 100%;
    position: absolute;
    height: 100%;
}
.imageHover {
    overflow: hidden;
    -webkit-transform: scale(1,1);
    -webkit-transition: all 0.5s ease-in-out;
    position: relative;
}


.imageHover:hover > img {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition: all 0.5s ease-in-out;
}

.imageOverlay {
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageOverlay h4 {
    text-align: center;
}
.imageOverlay h4 a {
    font-weight: 700;
    font-size: 20px !important;
    color:white !important;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .CommunitiesMain {
        margin-top: 30px;
    }

    .CommunitiesMain .imageDiv {
        padding: 10px;
    }

    .imageCoontain {
        margin-top: 20px;
    }
    .CommunitiesMain .imageDivWithBg {
        padding: 20px 0px;
    }
}


