.tearmsOfUseMain {

}
.tearmsOfUseMain  h1 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 500;
}
.tearmsOfUseMain  .tearmsOfUseMaininner {
    padding: 20px 30px;
}
.tearmsOfUseMain p {
    color: black;
    font-family: 'semplicitaproregular', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.tearmsOfUseMain p b {
    font-weight: 700;
}
.tearmsOfUseMain p strong {
    font-weight: 700;
}


@media only screen and (max-width: 600px) {
    .tearmsOfUseMain  .tearmsOfUseMaininner {
        padding: 20px 10px;
    }
}
